body {
  font-family: "Inter", "Noto Sans KR", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  letter-spacing: -1px;
}

ul,
dl,
li {
  list-style: none;
  padding: 0;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  word-break: keep-all;
  letter-spacing: -1px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

mark {
  background-color: rgba(#efff5c, 0.8);
}

// Type display classes
.display-1 {
  @include font-size($display1-size);
  font-weight: $display1-weight;
  line-height: $display-line-height;
}
.display-2 {
  @include font-size($display2-size);
  font-weight: $display2-weight;
  line-height: $display-line-height;
}
.display-3 {
  @include font-size($display3-size);
  font-weight: $display3-weight;
  line-height: $display-line-height;
}
.display-4 {
  @include font-size($display4-size);
  font-weight: $display4-weight;
  line-height: $display-line-height;
}
.display-5 {
  @include font-size($display5-size);
  font-weight: $display5-weight;
  line-height: $display-line-height;
}
.display-6 {
  @include font-size($display6-size);
  font-weight: $display6-weight;
  line-height: $display-line-height;
}

p {
  line-height: 1.4;
  margin-bottom: 0;
}

strong,
b {
  font-weight: bold;
}

/*****************************
  # Nav
*****************************/

header.topnav {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0;
  background-color: transparent;
  color: white;

  .navbar-brand {
    font-size: 1.25rem;
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  nav {
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

/*****************************
  # Section
*****************************/

section {
  .headline {
    z-index: 1;

    h1 {
      margin-bottom: 1rem;
    }
    .subtext {
      font-size: 1.15rem;
      font-weight: light;
    }
  }

  @media (max-width: 800px) {
    .subtext {
      font-size: 1rem;
    }
  }
}

section.feature {
  z-index: 1;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 10em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: fixed
    url(https://images.unsplash.com/photo-1544725121-be3bf52e2dc8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=3147&q=80)
    no-repeat center center / cover;
  color: white;

  &::after {
    content: "";
    background: rgba($black, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

section.promotion {
  position: relative;
  width: 100%;
  padding: 4em 0;

  .bg-image {
    display: block;
    width: 100%;
    height: 40em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (max-width: 767px) {
      display: block;
      height: 20em;
      overflex: hidden;
    }
  }
  @mixin textbox {
    z-index: 1;
    position: absolute;
    top: 50%;
    display: table;
    max-width: 650px;
    padding: 4em;
    background: #fff;
    transform: translateY(-50%);
    @media (max-width: 991.98px) {
      top: 50%;
      left: 50%;
      width: 90%;
      padding: 2em;
      transform: translate(-50%, -50%);
    }
  }
  .textbox-left {
    @include textbox();
    left: 50%;
  }
  .textbox-right {
    @include textbox();
    right: 50%;
  }
}

section.services {
  position: relative;
  width: 100%;
  padding: 8em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideLink {
  position: fixed;
  bottom: 1rem;
  right: 0;
  z-index: 9;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;

  @mixin link-size {
    display: inline-block;
    display: grid;
    place-items: center;
    text-align: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    margin: 0.5rem;
    font-size: 1rem;
    border-radius: 0.4rem;
  }

  > a {
    @include link-size;

    > img {
      width: 30px;
      height: auto;
    }
  }

  &--kakao {
    background-color: #ffeb3b;
  }
  &--tell {
    background-color: $warning;
    color: #fff;
  }
  &--top {
    @include link-size;
    background: $primary;
    color: #fff;
  }
}

section.contact {
  position: relative;
  width: 100%;
  padding: 8em 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-label {
    font-size: 14px;
    color: $gray-400;
  }
  label.font-check-label {
    color: $dark !important;
  }
}

footer {
  .footer-copyright {
    padding: 2rem 0;
    background-color: $dark;
  }
}

.img-square {
  position: relative;
  padding-bottom: 100%;
}

.benefit-list {
  > li + li {
    padding-top: 1.5rem;
  }
}

.partners {
  li + li {
    margin-bottom: 1rem;
  }
  font-weight: bolder;
  font-size: 2rem;
  color: $gray-200;
}

// image
.image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  z-index: 4;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);

  &::after {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $black;
  }

  &[class*="overlay"]::after {
    opacity: 0.4;
  }

  &[class*="overlay-primary"]::after {
    background: $primary;
    opacity: 0.9;
  }

  img {
    width: 100%;
  }
}

@mixin bg-overlay {
  content: "";
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
section.banners {
  .banners-feather {
    width: 2em;
    height: 2em;
  }
  .card {
    z-index: 2;
    position: relative;
    overflow: hidden;

    &.left::before {
      @include bg-overlay();
      background-image: url(https://images.pexels.com/photos/4065864/pexels-photo-4065864.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=640&w=426);
    }
    &.right::before {
      @include bg-overlay();
      background-image: url(https://images.pexels.com/photos/3760067/pexels-photo-3760067.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=640&w=426);
    }
  }
}
