body {
  font-family: "Nunito", "NotoSansKR";
}

ul,
dl,
li {
  list-style: none;
  padding: 0;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  word-break: keep-all;
  letter-spacing: -1px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

p {
  line-height: 1.4;
  margin-bottom: 0;
}

strong,
b {
  font-weight: bold;
}

.bi::before {
  display: inline-block;
  content: "";
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}

/*****************************
  # Nav
*****************************/

header.topnav {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0;
  background-color: transparent;
  color: white;

  .navbar-brand {
    font-size: 1.25rem;
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  nav {
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

/*****************************
  # Section
*****************************/

section {
  .headline {
    z-index: 1;

    h1 {
      margin-bottom: 1rem;
    }
    .subtext {
      font-size: 1.15rem;
      font-weight: light;
    }
  }

  @media (max-width: 800px) {
    .subtext {
      font-size: 1rem;
    }
  }
}

section.feature {
  z-index: 1;
  position: relative;
  width: 100%;
  min-height: 70vh;
  padding: 10em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: fixed
    url(https://images.unsplash.com/photo-1544725121-be3bf52e2dc8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=3147&q=80)
    no-repeat center center / cover;
  color: white;

  &::after {
    content: "";
    background: rgba($dark, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

section.promotion {
  z-index: 1;
  position: relative;
  width: 100%;
  padding: 6em 0;

  .bg-image {
    display: block;
    width: 100%;
    min-height: 40em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @mixin textbox {
    display: table;
    max-width: 650px;
    padding: 4em;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 991.98px) {
      top: 50%;
      left: 50%;
      width: 90%;
      padding: 2em;
      transform: translate(-50%, -50%);
    }
  }
  .textbox-left {
    @include textbox();
    left: 50%;
  }
  .textbox-right {
    @include textbox();
    right: 50%;
  }
}

section.services {
  position: relative;
  width: 100%;
  padding: 5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideLink {
  position: fixed;
  bottom: 1rem;
  right: 0;
  z-index: 9;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;

  @mixin link-size {
    display: inline-block;
    display: grid;
    place-items: center;
    text-align: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    margin: 0.5rem;
    font-size: 1rem;
    border-radius: 0.4rem;
  }

  > a {
    @include link-size;

    > img {
      width: 30px;
      height: auto;
    }
  }

  &--kakao {
    background-color: #ffeb3b;
  }
  &--tell {
    background-color: $warning;
    color: #fff;
  }
  &--top {
    @include link-size;
    background: $primary;
    color: #fff;
  }
}

section.contact {
  position: relative;
  width: 100%;
  padding: 8em 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-label {
    font-size: 14px;
    color: $gray-400;
  }
  label.font-check-label {
    color: $dark !important;
  }
}

footer {
  .footer-copyright {
    padding: 2rem 0;
    background-color: $dark;
  }
}

.img-square {
  position: relative;
  padding-bottom: 100%;
}

.benefit-list {
  > li + li {
    padding-top: 1.5rem;
  }
}

.partners {
  li + li {
    margin-bottom: 1rem;
  }
  font-weight: bolder;
  font-size: 2rem;
  color: $gray-200;
}
